
/**************************GENERAL***********************/    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: roboto

/*************************BODY************************/   
body
    background: white
    font-family: roboto, arial
    box-sizing: border-box
.wrap
    width: 90%
    max-width: 530px
    padding: 40px
    margin: auto
    background: #fff
    box-shadow: 0px 0px 3px gray
    margin-top: 50px

.contenedor-formulario
    width: 100%
    color: gray
    padding: 50px
    margin-bottom: 10px
    .formulario
        width: 100%
        margin: auto
        h2
            margin-bottom: 60px
            color: #7608b9
            text-align: center
        .input-group
            position: relative
            margin-bottom: 35px
            input[type='text'],
            input[type='email']
                font-size: 15px
                color: black
                width: 50%
                height: 30px
                outline: none
                padding-bottom: 5px 
                padding-top: 5px
                background: none
                float: right
                border: solid
                border-width: 1.5px
                border-color: #bc98d1
                border-radius: 3px
                margin-left: -10px
                &:active,
                &:focus
                    border-color: #7608b9
                    border-width: 2px
        .select1
            font-size: 15px
            color: black
            width: 50%
            height: 40px
            outline: none
            background: none
            float: right
            border-width: 1.5px
            border-color: #bc98d1
            border-radius: 3px
            margin-left: -10px
            &:active,
            &:focus,
                    border-color: #7608b9
                    border-width: 2px
        .textarea
            font-size: 15px
            color: black
            width: 50%
            height: 100px
            outline: none
            float: right
            border: 1.5px solid #bc98d1
            resize: vertical
            &:active,
            &:focus,
                border-color: #7608b9
                border-width: 2px
        .boton
            margin-top: 50px
            padding: 8px
            font-size: 16px
            color: white
            background: #7608b9
            border: none
            border-radius: 3px
            &:hover,
                background: #bc98d1
                color: gray
            &:active,
                background: #a867ce
                color: black

    .botoncenter
            display: flex
            align-items: center
            justify-content: center

/****************************HEADER************************/
header
    .logo
        a
            color: #7608b9
            text-decoration: none
            font-family: "Pacifico"
            font-size: 40px
            position: absolute
            margin: -10px 10px 0px 10px
    ul
        background: #e5d1f1
        float: right
        .miCuenta
            margin-left: 700px

        li
            display: inline-block
            float: right
            margin: 0px 17.5px 0px 17.5px

            &:hover
                background: #d4aaec
                transition: all .3s
        a
            display: block
            padding: 15px 20px
            color: black
            text-decoration: none
            &:hover
                color: white
                transition: all .3s            


        
            
        

